body {
  background: url('Images/micro_carbon.png');
  height: 7em;
  margin: 2ex 2em;
}

footer {
  margin-top: 3ex;
  margin-bottom: 5px;
}
.TR {
  font-family: "Arial";
  color: #B93021;
}
.imgLightning {
  width: 20px;
}